.App {
  text-align: center;
}

.profile {
  padding: 2rem;
}

.dashboard {
  padding: 1rem;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: white;
}

.appBody {
  background-color: #333945;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.loginButton,
.logoutButton {
  background-color: #408c43; /* Green */
  color: rgb(255, 254, 254);
  padding: 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.token {
  padding: 1rem;
  word-break: break-all;
  word-wrap: break-word;
}

.todosContainer {
  padding: 1rem;
}
